*{
    box-sizing: border-box !important;
}

img{
    padding: 0 !important;
}

.row{
    padding: 0 !important;
}

h3 {
    color: gray;
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    margin-bottom: 20px !important;
}

h4 {
    font-size: large !important;
    font-weight: bold !important;
}

article {
    margin : 40px auto !important;
}

section {
    margin: 20px 0 10px auto !important;
}

span a{
    color: black;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}

.div{
    background-color: whitesmoke;
    color: #f72210;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    display: block;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

.sumary{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.contain {
    margin: 40px 0;
}

.more-stories-title a{
    font-size: 17px;
    line-height: 0px !important;
}