*{
    box-sizing: border-box !important;
}

img{
    padding: 0 !important;
}

.row{
    padding: 0 !important;
}

h3 {
    color: gray;
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    margin-bottom: 20px !important;
}

h4 {
    font-size: large !important;
    font-weight: bold !important;
}

section {
    margin: 20px 0 10px auto !important;
}

span a{
    color: black;
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
}

.sumary{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.contain {
    margin: 40px 0;
}